<footer class="py-6 mt-5">

  <div style="
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    width: 100%;
    margin-top: 20px;
  ">
<!-- LEFT -->
    <div>
      <div style="text-align:center; width: 150px;">
         <a 
        href="https://glimr.esmrmb.org/"
        target="_blank"
        rel="noopener noreferrer"
        >
        <img
          src="/Images/logos/glimr-logo.png"
          alt="GliMR"
          style="
          height: 70px;
          margin-left: 35px; 
            "
        >
         </a>
      </div>

      <div style="
          font-size: 0.6rem; 
          color: #646464;
          line-height: 1.2; 
          font-weight: bold;
          text-align: center;">
          Glioma and Brain <br>
          Tumour MR Imaging  
      </div>
      
    </div>

<!-- MIDDLE -->
      <div style="
          display:flex;
          justify-content:center;
          align-items:center;
          width: 100%;
          height: 100px;
       ">

      <div style="text-align:center;">
         <a 
        href="https://www.instagram.com/glimr_esmrmb/"
        target="_blank"
        rel="noopener noreferrer"
        >
        <img
          src="/Images/logos/instagram-logo.png"
          alt="Instagram"
          style="
          height: 25px;
          "
        >
        </a>
      </div>
    
      <div style="text-align:center;">
        <a 
        href="https://www.linkedin.com/company/glimr-esmrmb/"
        target="_blank"
        rel="noopener noreferrer"
        >
        <img
          src="/Images/logos/linkedin-logo.png"
          alt="LinkedIn"
          style="
          height: 25px;
          margin-left: 20px; 
          "
        >
        </a>
      </div>

      <div style="text-align:center;">
        <a 
        href="https://www.youtube.com/@glimr-esmrmb"
        target="_blank"
        rel="noopener noreferrer"
        >
        <img
          src="/Images/logos/youtube-logo.png"
          alt="YouTube"
          style="
          height: 25px;
          margin-left: 20px; 
          "
        >
        </a>
      </div>

      <div style="text-align:center;">
        <a 
        href="https://bsky.app/profile/esmrmb.bsky.social"
        target="_blank"
        rel="noopener noreferrer"
        >
        <img
          src="/Images/logos/bluesky-logo.png"
          alt="BlueSky"
          style="
          height: 25px;
          margin-left: 20px; 
          "
        >
        </a>
      </div>

      <div style="text-align:center;">
         <a 
        href="https://docs.google.com/forms/d/e/1FAIpQLSeHGNkLZM74KGkncOEuyyunSrWrM4hd27-1uBPptc8p9JLDvg/viewform?usp=sharing&ouid=114252464023784928785"
        target="_blank"
        rel="noopener noreferrer"
        >
        <img
          src="/Images/logos/newsletter-logo.png"
          alt="Newsletter"
          style="
          height: 25px;
          margin-left: 20px; 
          "
        >
        </a>
      </div>
    </div>

<!-- RIGHT -->
    <div>
      <div style="text-align:center; width: 150px;">
        <a 
        href="https://www.esmrmb.org/"
        target="_blank"
        rel="noopener noreferrer"
        >
        <img
          src="/Images/logos/esmrmb-logo.png"
          alt="ESMRMB"
          style="height: 65px"
        >
        </a>
      </div>

      <div style="
          font-size: 0.6rem; 
          color: #646464;
          line-height: 1.2; 
          font-weight: bold;
          text-align: center;
          margin-top: 12px;">
          ESMRMB Working Group

      </div>
    </div>
  </div>

</footer>